.header-count {
    background-color: #8b6d5d;
    border-radius: 100%;
    /* border: 1px solid black; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    right: 1px;
}

.counter-number {
    font: bold 13px Tahoma;

    top: 1px;
    left: 5.5px;
    position: absolute;
    color: white;
}

.counter-number-over9 {
    font: bold 13px Tahoma;
    top: 1px;
    left: 1.5px;
    position: absolute;
    color: white;
}

.counter-number-over99 {
    font: bold 10px Tahoma;
    top: 3px;
    position: absolute;
    color: white;
}